.main {
    padding: 0;

    .inner {
        margin: 0;
    }
}

.title {
    font-size: 48px;
    font-family: 'Roboto';
}

.subTitle {
    font-size: 48px;
    font-family: 'Lora';
}

.icon {
    width: 24px;
    height: 24px;
}